

#wrapper{
	width: 1080px;

}
#main{
		width:50%;
		margin-top: 20px;
		
}

.thumb{
	width:200px;
	margin:20px;
	
}
	

}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
#steph{
	width:300px;
	margin-left:50px;
	margin-top: 20px;
	padding:10px;
	float:left;

}
	


#lorem{
	width:500px;
	margin-right:50px;
	margin-top: 20px;
	padding: 10px;
	float:right;
	color:#525266;
}
a{

	
	font-size: 24px;
	font-color:#6cbfff;
	margin: 10px;
	padding: 10px;
}
h1{
	font-size: 32px;
	margin:10px;
	padding:10px;
	font-family: raleway, sans-serif;

}
nav{
	text-align: right;
}

.center{
	text-align:center;

}

#address{
	
	font-size: 16px;
	line-height:.8em;
	margin-left: 50px;
}

#icon{
	height:50px;
	float:right;

}
footer{
	clear: both;
	margin-top: 40px;

}

p{
	font-size: 18px;
	line-height: .8em;
	font-family: raleway, sans-serif;
	

}




